<%- include('header') %>

    <!-- your html for your website -->

<div class="content-container">
    <div class="chartbox">
    <canvas id="chart" class="chart" id="chart" height="100px"nightscout="<%=nightscout%>" health="<%=health%>" treatments="<%=treatments%>"></canvas>
    </div>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="scripts/chart.js"></script>
</div>

<%- include('footer') %>